* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #0d2033;
}

/* <!--::index-Cabecera::--> */
header {
  width: 100%;
  height: 100vh;
  background: url(/img/portada-cabecera.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header h1 {
  color: #fff;
  margin-left: 20px;
  letter-spacing: 1px;
}

header nav {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar-btn {
  font-size: 25px;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 100px;
  background-color: #0a141d;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.nav-menu li {
  display: none;
  line-height: 30px;
  margin: 50px 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  letter-spacing: 1px;
}

.nav-menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover {
  color: #f80808;
  -webkit-transition: .3s;
  transition: .3s;
}

#check {
  display: none;
}

#check:checked ~ .nav-menu {
  height: 100vh;
}

#check:checked ~ .nav-menu li {
  display: block;
}

.banner-text {
  padding: 0 30px;
  margin-top: 140px;
  text-align: center;
  color: #0a141d;
  letter-spacing: 1px;
}

.banner-text div a {
  text-decoration: none;
}

.banner-text h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

.banner-text span {
  color: #f80808;
}

.banner-text h3 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.button1, .button2 {
  margin-right: 40px;
  padding: 10px 30px;
  background-color: #f80808;
  color: #fff;
  border-radius: 5px;
}

.button1:hover, .button2:hover {
  background-color: #fff;
  color: #f80808;
  -webkit-transition: .5s;
  transition: .5s;
}

.button2 {
  background-color: #fff;
  color: #f80808;
}

.button2:hover {
  background-color: #f80808;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

/* <!--::General-Pie de Pagina::--> */
.pie-pagina {
  width: 100%;
  background-color: #0a141d;
  margin-top: 40px;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}

.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

/* <!--::General-Responsive-pie de pagina::--> */
@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 35px 0px;
  }
}

/* <!--::General-Responsive-Cabecera::--> */
@media screen and (min-width: 768px) {
  header h1 {
    margin-left: 20px;
    font-size: 20px;
    text-align: center;
  }
  nav {
    height: 100px;
  }
  .bar-btn {
    display: none;
  }
  .nav-menu {
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    -webkit-transition: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
  }
  .nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
    -webkit-transition: none;
    transition: none;
  }
  .nav-menu li a {
    font-size: 12px;
  }
  .banner-text h2 {
    font-size: 70px;
    margin-bottom: 30px;
  }
  .banner-text h3 {
    font-size: 20px;
  }
}

/* <!--::index-Contenido::--> */
.titulo-main {
  height: 10vh;
  width: 100%;
  background-color: #0a141d;
  color: #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
  letter-spacing: 0.05rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.titulo-main h2 {
  font-size: 20px;
  letter-spacing: 0.05rem;
}

.titulo-main h3 {
  font-size: 12px;
}

.titulo-main h3 span {
  color: #27bb27;
  font-size: 20px;
}

.titulo-main > .button2 {
  text-decoration: none;
}

.contenido-main {
  height: 85vh;
  background-color: #0d2033;
}

.contenido-main h3 {
  text-align: center;
  color: #fff;
  letter-spacing: 0.05rem;
  padding: 40px;
  font-size: 40px;
}

.card-new-father {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1rem;
}

.card-new {
  height: 70vh;
  width: 33.33%;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.2);
  cursor: default;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  text-align: center;
}

.card-new:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.4);
          box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.4);
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

.card-new > .btn-nac, .card-new > .btn-inter, .card-new > .btn-contact {
  text-decoration: none;
  color: #efefef;
  background-color: #0a141d;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  padding: 15px 15px;
  border-radius: 5px;
}

.card-new a:hover {
  color: #f80808;
  background-color: #efefef;
}

.nacionales {
  background: url(/img/index-nacionales.jpg);
  background-position: center;
  background-size: cover;
}

.internacionales {
  background: url(/img/index-internacional.jpg);
  background-size: cover;
}

.contactanos {
  background: url(/img/index-contactanos.png);
  background-size: cover;
}

.suscribete {
  margin-top: 4rem;
  height: 60vh;
  width: 100%;
  background: url(/img/suscribete.jpg);
}

.conten-sub {
  width: 100%;
  height: 100%;
  background: rgba(0, 22, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conten-sub h2 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 10px;
  letter-spacing: 0.05rem;
}

.conten-sub p {
  color: #fff;
  font-size: 17px;
  margin-bottom: 25px;
  max-width: 500px;
  text-align: center;
}

.conten-sub form {
  width: 100%;
  max-width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conten-sub form .campo {
  width: 100%;
  padding: 15px 15px;
  font-size: 16px;
  border: none;
  border-radius: 3px 0px 0px 3px;
  outline: 0px;
}

.conten-sub form .btn-sub {
  padding: 15px 15px;
  border: none;
  font-size: 16px;
  border-radius: 0px 3px 3px 0px;
  background: #68C3A3;
  color: #fff;
  cursor: pointer;
  outline: 0px;
  letter-spacing: 0.05rem;
}

.conten-sub form .btn-sub:hover {
  background: #3eba8f;
}

/* <!--::Index-Responsive-main::--> */
@media screen and (max-width: 800px) {
  .titulo-main h2 {
    font-size: 10px;
  }
  .titulo-main h3 {
    font-size: 10px;
  }
  .titulo-main > .button2 {
    padding: 10px 10px;
    margin-left: 15px;
  }
  .contenido-main {
    height: 170vh;
  }
  .contenido-main h3 {
    padding: 25px;
    font-size: 30px;
  }
  .card-new-father {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 2rem;
  }
  .card-new {
    height: 50vh;
    width: 100%;
  }
  .nacionales {
    -webkit-animation: slideInLeft;
            animation: slideInLeft;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
  }
  .internacionales {
    -webkit-animation: slideInLeft;
            animation: slideInLeft;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
  }
  .contactanos {
    -webkit-animation: slideInLeft;
            animation: slideInLeft;
    -webkit-animation-duration: 8.5s;
            animation-duration: 8.5s;
  }
  .card-new:hover {
    -webkit-transform: none;
            transform: none;
  }
  .contactanos {
    background-position: center;
  }
  .conten-sub h2 {
    text-align: center;
  }
}

.header-contact {
  height: 20vh;
  overflow: hidden;
  background-position: bottom;
}

.header-contact h1 {
  color: #fdfdfd;
  font-size: 20px;
}

.main_contact {
  margin-top: 30px;
  height: 100%;
  background-color: #181818;
  color: #fff;
  padding: 0px 25px;
}

.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.contacto_h1 {
  text-align: center;
  font-size: 40px;
}

.contacto_h1 span {
  color: #f80808;
}

.contact_wrapper {
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact_wrapper > * {
  padding: 16px;
}

.contact-form {
  background-color: #222222;
}

.contact-form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  border-bottom: 1px solid #d63031;
  outline: none;
  color: #fff;
}

.contact-form form button {
  background-color: #b70e21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: #000;
  -webkit-transition: .3s;
  transition: .3s;
  outline: 0;
}

.contact-info {
  background-color: #000;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info ul li {
  padding: .3em;
}

@media screen and (min-width: 768px) {
  .contact_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .contact_wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    padding: 1em;
    text-align: left;
  }
}

/* 
.header-news{
    @extend .header-contact   
}
 */
.newsMain {
  height: 300vh;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.container-nacional, .container-internacional {
  height: 150vh;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #fff;
  border: 3px solid #1a436b;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.col-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.col-2 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  margin-right: 30px;
}

.caja {
  height: 250px;
  margin-left: 1rem;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-align: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  /* box-shadow: 2px 2px 5px #999; */
}

.caja_content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: 200;
}

.titulo_noticias {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
  letter-spacing: 0.05rem;
  /* font-family: 'Montserrat', sans-serif; */
}

.caja_content h3 {
  color: rgba(255, 255, 255, 0.8);
  margin: 10px;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 1rem;
}

.caja:hover .caja_content {
  opacity: 1;
}

.caja:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  overflow: hidden;
}

.tablas {
  height: 380px;
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
}

.titulo_fixture {
  height: 20px;
  text-align: center;
  padding-top: 5px;
  color: #fff;
  font-size: 1rem;
  background-color: #4040f8;
}

th {
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

.bg-tabla {
  background-color: #999;
}

.fixture {
  background: url(/img/new-fixture.jpeg);
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
}

.internacional1, .internacional4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.flayer {
  height: 85%;
  width: 95%;
  background: url(/img/new-flayer-worldcupfem.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 120px;
}

.nacionales1 {
  background: url(/img/nacional/01-New-nacionales.jpg);
  background-size: cover;
}

.nacionales2 {
  background: url(/img/nacional/02-New-nacionales.jpg);
  background-size: cover;
}

.nacionales3 {
  background: url(/img/nacional/03-New-nacionales.jpg);
  background-size: cover;
}

.nacionales4 {
  background: url(/img/nacional/04-New-nacionales.jpg);
  background-size: cover;
}

.nacionales5 {
  background: url(/img/nacional/05-New-nacionales.jpg);
  background-size: cover;
}

.nacionales6 {
  background: url(/img/nacional/06-New-nacionales.jpg);
  background-size: cover;
}

.internacional1 {
  background: url(/img/internacional/01-new-internacionales.jpg);
  background-size: cover;
}

.internacional2 {
  background: url(/img/internacional/02-new-internacionales.jpg);
  background-size: cover;
}

.internacional3 {
  background: url(/img/internacional/03-new-internacionales.jpg);
  background-size: cover;
}

.internacional4 {
  background: url(/img/internacional/04-new-internacionales.jpg);
  background-size: cover;
}

/* //responsive-main-news// */
@media screen and (max-width: 800px) {
  .newsMain {
    height: 480vh;
  }
  .container-nacional, .container-internacional {
    height: 280vh;
    width: 80%;
    border: none;
    background-color: #0d2033;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-internacional {
    margin-top: -230px;
  }
  .caja {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .col-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col-2 {
    width: 100%;
    height: 100%;
  }
  .fixture, .flayer, .tablas {
    display: none;
  }
  .titulo_noticias {
    font-size: 25px;
    color: #fff;
  }
}
/*# sourceMappingURL=styles.css.map */